.about-cotainer{
    margin: 0;
    padding: 10px;
}
.about-heading{
    text-align: center;
}
.about-heading a{
    text-decoration: none;
    color: #0a0e3d;
    font-size: 40px;
    font-weight: 700;
    font-family: inherit;
    transition: .5s;
    opacity: 0;
    animation:slideLeft 1s ease forwards ;
    animation-delay: .3s;
}
.about-block{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 400px;
}
.about-details{
    display: block;
    width: 48%;
    height: 300px;
    margin: 5px;
    padding: 20px;
    padding-top: 35px;
    border: 1px solid rgb(207, 203, 203);
    border-radius: 5px;
    box-shadow: 0 15px 10px 0px rgba(50,50,93,.1);
}
.about-details i{
    margin-right: 15px;
}
.about-details p{
    position: relative;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;
    
    margin:25px;

}
.about-image{
    display: block;
    width: 48%;
    height: 300px;
    margin: 5px;
    border: 1px solid rgb(207, 203, 203);
    border-radius: 5px;
    box-shadow: 0 15px 10px 0px rgba(50,50,93,.1);   
    
}
.about-image .computer{
    position: relative;
    width: 300px;
    
    margin-left: 150px;
    height: 90%;
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 2s;
}
@keyframes mymove {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
  }
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 100;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 100;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 100;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
