.skill-container{
    padding: 20px;
}
.skill-table{
    padding:20px;
    height: 380px;background-color: #0a0e3d;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
}
.skill-heading{
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-family: Arial;
}
.skill-heading a{
    font-weight: 700;
    font-size: 40px;
    text-decoration:    none;
    font-family: inherit;
    color: #0a0e3d;
}
.slider{
    height:250px;
    margin: auto;
    position: relative;
    width:90%;
    display: grid;
    place-items: center;
}
.slide-track{
    display: flex;
    width: calc(250px*18);
    animation:scroll 40s linear infinite;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slide img{
    width:100px;
    transition: transform 1s;
}
.slide img:hover{
    transform:translateZ(20px);
}
.slider::after,.slider::before{
    /* background: linear-gradient(to right,rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); */
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}